/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:root {
  --initial-color-mode: dark;
  --transition-duration: 0.3s;
  --fontColor: linear-gradient(to right, #3C85D8 0%, #554BC5 100%);
  --bgColor: linear-gradient(to bottom, #010208 0%, #000643 100%);
}

[data-theme='dark'] {
  --color-mode: dark;
  --bg-color: linear-gradient(to bottom, #010208 0%, #000643 100%);
  --text-color: #EDF2F7;
  --color-border: #D0D5DD;
  --bg-button: #417AFF;
}

[data-theme='light'] {
  --color-mode: light;
  --bg-color: linear-gradient(to bottom, #EDF2F7 0%, #B8C4FF 100%);
  --text-color: #1F1F1F;
  --color-border: #9b9b9b;
  --bg-button: #262AFD;
}

html {
  transition: background-color var(--transition-duration), color var(--transition-duration);
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color); /* Aplica o gradiente de fundo */
  color: var(--text-color);
  @apply font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.text-gradient {
  background: var(--fontColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-color {
  border-color: var(--color-border);
}

.bg-color {
  background: var(--bgColor);
}

.bg-button {
  background: var(--bg-button);
}

.text-color {
  color: var(--text-color);
}
