/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

:root {
  --initial-color-mode: dark;
  --transition-duration: 0.3s;
}

[data-theme='dark'] {
  --color-mode: dark;
  --bg-color: #121212;
  --text-color: #ffffff;
}

[data-theme='light'] {
  --color-mode: light;
  --bg-color: #ffffff;
  --text-color: #000000;
}

html {
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  @apply font-sans;
}
